jupyterlab
numpy
scikit-learn
folium
geopy
fastapi
mkdocs
mkdocstrings-python
mkdocs-material
sqlalchemy
psycopg2-binary
jupysql
pandas
mlflow=3.16.1
boto3
pyarrow
plotly
ipykernel
python-dotenv
pytorch
faiss-cpu